/*
GENERAL STYLES
*/
header {
    width: 100%;
    padding: 150px 0 20px 0;
}

footer {
    position: fixed;
    bottom: 0;
}

.active-choice {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}

.unavailable-btn {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    border: 1px solid #c0c0c0;
}

.available-btn {
    background-color: #e0e0e0;
    color: #000;
    cursor: pointer;
    border: 1px solid #5d5d5d;;
}

.cross-placed {
    background-image: url("../images/cross.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.nought-placed {
    background-image: url("../images/nought.svg");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

/*
TYPOGRAPHY
*/
* {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 3rem;
}

.player1 span, .player2 span, .computer span {
    font-weight: 600;
    font-size: 1.1rem;
    color: #5d5d5d;
}

button {
    font-weight: 700;
}

/*
COLOURS
*/
.game-choices-container {
    background-color: #f0f0f0;
}
/*
IMAGES
*/
.player1 img, .computer img, .player2 img, .versus img {
    height: auto;
    width: 70px;
}

.info img {
    height: auto;
    width: 30px;
}

/*
HEADER
*/
.header-wrapper {
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}

/*
GAME OPTIONS SCREEN
*/
.game-options-screen {
    margin: 0 auto;
    max-width: 650px;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

.game-options-section {
    width: 90%;
    margin: 0 auto;
    padding: 25px 0;
}

.game-choices-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid darkgrey;
    border-radius: 5px;
    margin: 10px 0 15px 0;
    padding: 20px 0;
}

.game-choices-container:hover {
    cursor: pointer;
}

.player1 span, .player2 span, .computer span {
    margin-top: 5px;
    display: block;
    text-align: center;
}

.start-btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.start-btn-container button {
    padding: 5px 40px;
    border-radius: 5px;
    border: 1px solid darkgray;
}

/*
GAME SCREEN
*/
.game-screen {
    max-width: 300px;
    margin: 0 auto;
    display: none;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid darkgray;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.gameboard {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.game-square {
    width: 100%;
    padding-top: 100%;
    background-color: #e2e8f0;
}